#########
# Files #
#########
*.elc
/.org-id-locations
/bookmarks
/custom-set-variables.el
/history
/ido.last
/places
/recentf
/tramp
/viper
/README.html

###########
# Folders #
###########
/.cache/
/auto-save-list/
/elpa/
/transient/
/url/
/tramp/
/games/
